<div class="container-fluid mt-5">
  <button type="button" class="btn btn-primary" (click)="handleEdit()">Edit <i class="fa fa-cog" aria-hidden="true"></i></button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Expiry date</th>
        <th>Storage place</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngIf="editMode">
      <tr [formGroup]="form" (ngSubmit)="handleAdd(form.value)" novalidate>
        <td scope="row"><input formControlName = "productName" type="text" class="form-control"
          name="" placeholder=""></td>
        <td>
          <select formControlName = "productType" class="form-control">
            <option *ngFor='let option of typeOptions' [value]="option">
              {{ option }}
            </option>
          </select>
          </td>
        <td><input formControlName = "productExpiryDate" type="text" class="form-control"
          name="" placeholder=""></td>
        <td><select formControlName = "productStoragePlace" type="text" class="form-control"
          name="" placeholder="">
          <option *ngFor='let option of storagePlaceOptions' [value]="option">
            {{ option }}
          </option>
          </select>
        </td>
        <td><button type="submit" class="btn btn-success btn-sm" [disabled]="form.invalid" (click)="handleAdd(form.value)">Add</button></td>
      </tr>
    </tbody>
    <tbody>
      <tr *ngFor='let product of products$ | async'>
        <td scope="row">{{product.name}}</td>
        <td>{{product.type}}</td>
        <td [ngClass]="daysUntilExpirationColor(product.expiryDate)">{{product.expiryDate.seconds * 1000 | date:'dd/MM/YYYY'}}</td>
        <td>{{product.storagePlace}}</td>
        <td><button type="button" class="btn btn-danger btn-sm" (click)="handleDelete(product.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
