<div class="container-fluid mt-5">
  <div>
    <div class="float-left">Today's date: {{this.today | date:'dd/MM/YYYY'}}</div>
    <button type="button" class="btn btn-primary float-right" (click)="handleEdit()">Edit <i class="fa fa-cog" aria-hidden="true"></i></button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          <div class="row">
            <div class="row-9 ml-3 mt-1" style="height: 27px">Name</div>
            <div class="row-3 ml-3"><app-sorting-button (up)="sortAscending('name')" (down)="sortDescending('name')" (reset)="resetSort()"></app-sorting-button></div>
          </div>
        </th>
        <th>
          <div class="row">
            <div class="row-9 ml-3 mt-1" style="height: 27px">Type</div>
            <div class="row-3 ml-3"><app-sorting-button (up)="sortAscending('type')" (down)="sortDescending('type')" (reset)="resetSort()"></app-sorting-button></div>
          </div>
        </th>
        <th>
          <div class="row">
            <div class="row-9 ml-3 mt-1" style="height: 27px">Expiry date</div>
            <div class="row-3 ml-3"><app-sorting-button (up)="sortAscending('expiryDate')" (down)="sortDescending('expiryDate')" (reset)="resetSort()"></app-sorting-button></div>
          </div>
        </th>
        <th>
          <div class="row">
            <div class="row-9 ml-3 mt-1" style="height: 27px">Storage place</div>
            <div class="row-3 ml-3"><app-sorting-button (up)="sortAscending('storagePlace')" (down)="sortDescending('storagePlace')" (reset)="resetSort()"></app-sorting-button></div>
          </div>
        </th>
        <th>
          <div class="row">
            <div class="row-9 ml-3 mt-1" style="height: 27px">Action</div>
            <div class="row-3 ml-3"></div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="editMode">
      <tr [formGroup]="form" (ngSubmit)="handleAdd(form.value)" novalidate>
        <td scope="row"><input formControlName = "productName" type="text" class="form-control"
          name="" placeholder=""></td>
        <td>
          <select formControlName = "productType" class="form-control">
            <option *ngFor='let option of typeOptions' [value]="option">
              {{ option }}
            </option>
          </select>
          </td>
        <td><input formControlName = "productExpiryDate" type="text" class="form-control"
          name="" placeholder=""></td>
        <td><select formControlName = "productStoragePlace" type="text" class="form-control"
          name="" placeholder="">
          <option *ngFor='let option of storagePlaceOptions' [value]="option">
            {{ option }}
          </option>
          </select>
        </td>
        <td><button type="submit" class="btn btn-success btn-sm" [disabled]="form.invalid" (click)="handleAdd(form.value)">Add</button></td>
      </tr>
    </tbody>
    <tbody>
      <tr *ngFor='let product of products$ | async'>
        <td scope="row">{{product.name}}</td>
        <td>{{product.type}}</td>
        <td [ngClass]="daysUntilExpirationColor(product.expiryDate.seconds * 1000)">{{product.expiryDate.seconds * 1000 | date:'dd/MM/YYYY'}}</td>
        <td>{{product.storagePlace}}</td>
        <td><button type="button" class="btn btn-danger btn-sm" (click)="handleDelete(product.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
